/* You can add global styles to this file, and also import other style files */
.card {
    margin: 25px 0 25px 0;
    padding: 10px;
}

body{
    background-color: #bdc3c7;
}

.fixed {
    position: fixed;
    resize: both;
    overflow: auto;
}
